In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of men who survived :", rate_women)

% of men who survived : 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived :", rate_men)

% of men who survived : 0.18890814558058924

> We are going to use the random forest model, in this we vote on whether the indivisual survived.
Finally make a democratic decision with the most vote wins.

In [6]:
from sklearn.ensemble import RandomForestClassifier

#importing random forest classifier from the scikit-learn library

In [7]:
s = train_data["Survived"]

#Define the target variable for the training dataset as the "Survived" column of the train_data DataFrame.

In [8]:
features = ["Pclass", "Sex", "SibSp", "Parch", "Embarked"]

#Define the list of features to use for training the model.

X = pd.get_dummies(train_data[features])

#Create a new DataFrame X with one-hot encoded features for the training dataset.

In [9]:
X_test = pd.get_dummies(test_data[features])

#Create a new DataFrame X_test with one-hot encoded features for the test dataset.

In [10]:
model = RandomForestClassifier(n_estimators = 100, max_depth = 5, random_state = 1)
model.fit(X,s)
# In the code you provided, the random forest classifier is instantiated with 100 trees (n_estimators=100), a maximum depth of 5 (max_depth=5), and a random seed of 1 (random_state=1). 
#These values were likely chosen based on experimentation and tuning to find the best combination of performance and model complexity for the specific problem at hand.

RandomForestClassifier(max_depth=5, random_state=1)

In [11]:
model.fit(X,s)

# The model will train on training data(X, s)

RandomForestClassifier(max_depth=5, random_state=1)

In [12]:
predictions = model.predict(X_test)

# Making predictions out of train data.

In [13]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

Creating a new DataFrame output with the passenger IDs from the test dataset and the predicted survival outcomes.

In [14]:
output.to_csv('submission.csv', index = False)

#Data frame to CSV file: submission.csv

In [15]:
print("Your submission is saved successfully!!")

Your submission is saved successfully!!